* {
  margin: 0;
  padding: 0; }

body {
  background: url("images/black-Linen.png"); }

a {
  color: #01b8e4; }

h1 {
  font-size: 75px;
  margin-top: 25px;
  margin-bottom: 150px; }

h2 {
  font-size: 50px; }

h4, h5 {
  font-size: 20px;
  font-family: "Comic Sans MS";
  color: #01b8e4;
  text-shadow: 0 0 10px black, 0 0 20px #01b8e4;
  margin-bottom: 5px; }

h5 {
  color: #FF6347; }

p {
  height: 70px;
  margin-bottom: 20px; }

table {
  margin: auto;
  margin-top: -80px;
  margin-bottom: 50px; }

li {
  display: inline;
  text-decoration: none; }

.window {
  margin: 50px auto;
  height: 650px;
  width: 600px;
  text-align: center;
  background: url("images/main-img.png");
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: 0 0 15px #01b8e4; }

.window__headers, .window__button, p.window__headers, h1.window__headers__fix {
  font-family: "Comic Sans MS";
  color: #01b8e4;
  text-shadow: 0 0 10px black, 0 0 20px #01b8e4; }

.window__button {
  font-size: 50px;
  text-decoration: none; }
  .window__button:hover {
    font-size: 55px; }
  .window__button:active {
    position: relative;
    top: 1px; }

.window__input {
  width: 150px;
  height: 40px;
  border: 2px solid #01b8e4;
  border-radius: 3px;
  color: #01b8e4;
  padding: 3px;
  font-size: 25px;
  font-family: Verdana;
  background: white;
  opacity: 0.8; }

.buttons__left, .buttons__right {
  width: 300px;
  height: 70px;
  float: left; }

.buttons__right {
  float: right; }

#myCanvas {
  margin-top: 50px; }

.window__loading__image {
  background-image: url("images/loading.gif");
  height: 64px;
  width: 64px;
  margin: auto; }

.window__loading {
  height: 180px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 100px;
  border: 2px solid #01b8e4;
  border-radius: 15px;
  margin: auto; }

.window__error {
  height: 265px;
  width: 300px;
  padding-top: 0px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: -50px; }

p.window__button, p.window__headers {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 100px; }

h1.window__headers__fix {
  font-size: 75px;
  margin-top: 25px;
  margin-bottom: 50px; }

.window__table {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: auto;
  border: 2px solid #01b8e4;
  border-radius: 15px; }

.window__table__td, .window__table__th {
  color: black;
  padding: 3px; }
