* {
	margin: 0;
	padding: 0;
}


@media screen and (max-height: 499px) {
	html {
		-webkit-text-size-adjust: none;
	}
	.container {
		width: 480px;
		height: 320px;
		background: url(images/mochaGrunge.png);
	}
	
	.nav {
		border-bottom: 3px solid #000;
	}
	
	.pointer-right__img-right, .pointer-left__img-left {
		width: 95%;
		margin-top: 15%;
		vertical-align: middle;
	}

	.nav__list > li > img {
		height: 50px;
	}
}

/*css for screens with width = 960x640*/
@media screen and (min-height: 500px) and (max-height: 1400px){
	html {
		-webkit-text-size-adjust: none;
	}
	.container {
		width: 960px;
		height: 640px;
		background: url(images/mochaGrunge.png);
	}
	
	.nav {
		border-bottom: 5px solid #000;
	}
	
	.pointer-right__img-right, .pointer-left__img-left {
		width: 95%;
		margin-top: 15%;
		vertical-align: middle;
	}

	.nav__list > li > img {
		height: 100px;
	}
}

/*css for screens with width = 1920x1080*/
@media screen and (min-height: 1500px) {
	html {
		-webkit-text-size-adjust: none;
	}
	.container {
		width: 1920;
		height: 1080;
		background: url(images/mochaGrunge.png);
	}

	.nav {
		border-bottom: 10px solid #000;
	}

	.nav__list > li > img {
		height: 200px;
	}

	.pointer-right__img-right, .pointer-left__img-left {
		margin-top: 25%;
		vertical-align: middle;
	}
}

/*for all screens*/
.nav {
	margin-left: 50px;
	margin-right: 50px;
	height: 20%;
}

.pointer-left {
	width: 48%;
	height: auto;
	float: left;
	text-align: center;
}

.pointer-right {
	width: 48%;
	height: auto;
	float: right;
	text-align: center;
}

.nav__list {
	margin: 0;
}

.nav__list li {
	margin-left: 7%;
	margin-right: 7%;
	display: inline;
}

.connection-form {
	text-align: center;
	position:relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	
  	font-family: 'Comic Sans MS';
  	color: #01B8E4;
  	text-shadow: 0 0 10px #000, 0 0 20px #01B8E4;
}

.id-token {
	width: 35%;
	border: 2px solid #01B8E4;
  	border-radius: 3px;
  	color: #01B8E4;
  	padding: 3px;
  	font-size: 25px;
  	font-family: Verdana;
  	background: #FFF;
  	opacity: 0.8;
  	margin-bottom: 5%;
}

.window__button {
  font-size: 50px;
  font-family: 'Comic Sans MS';
  color: #01B8E4;
  background-color: rgba(0, 0, 0, 0.0);
  /*text-shadow: 0 0 10px #000, 0 0 20px #01B8E4;*/
  text-decoration: none; }

.window__button:hover {
  font-size: 55px; }

.window__button:active {
  position: relative;
  top: 1px; }